<div class="all-orders">
    <div class="order-list">
        <i class="fa-solid fa-cart-shopping fa-2xl" style="color: #0886d3; "></i>
        {{#unless myOrders}}
        <p>Количката е празна.</p>
        {{else}}
        {{#each myOrders}}
        <div class="order">
            <p>ИД - {{_id}}</p>
            <p>Име на артикул - {{id.header}}</p>
            <p>Дата на поръчка - {{dateAndTime.day}}.{{dateAndTime.month}}.{{dateAndTime.year}}
                {{dateAndTime.hour}}:{{dateAndTime.minutes}}</p>
            <p>Количество: {{quantity}}</p>
            <a href="/remove/{{_id}}">Премахни</a>
        </div>
        {{/each}}
        {{/unless}}

       {{#if ordersCounter}}
        <div class="order-buttons">
            <a href="/confirm">Завършване на поръчката</a>
            <a href="/emptyCart">Изчистете количката</a>
        </div>
        {{/if}}
    </div>
</div>