<div class="page">
    <nav class="page__menu menu2">
        <ul class="menu__list r-list">
            <li class="menu__group"><a href="/" class="menu__link r-link text-underlined">Гоблени</a></li>
            <li class="menu__group"><a href="/necklace" class="menu__link r-link text-underlined">Гердани</a></li>
        </ul>
    </nav>
</div>

<div class="box-container">
    {{#each tapestries}}
    <a href="/details/{{_id}}">
    <div class="box">
        <div class="image">
            <img src="/tapestry-image/{{fileName}}" />
        </div>
        <div class="tapestry-info">
            <h3>{{header}}</h3>
            <p>Размер: {{size}} </p>
            <p>Цена: {{price}}лв</p>
        </div>
    </div>
    </a>
    {{/each}}
</div>